.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia-texto {
  color: #525252;
  max-width: 40ch;
  margin-bottom: 60px;
  line-height: 1.3;
  font-size: 1.5rem;
}
.experiancia-empresa {
  padding: 20px;
  display: grid;
  gap: 20px 10px;
  grid-template-columns: 1fr 1fr;
  background-color: #f5f5f5;
  position: relative;
  border-radius: 4px;
  margin-bottom: 30px;
}
.empresa-texto {
  font-size: 1rem;
  line-height: 1.3;
  color: #525252;
}
.experiancia-empresa::before {
  content: "";
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}
.experiencia-ano {
  position: absolute;
  top: 20px;
  left: -150px;
  width: 140px;
  text-align: right;
}

.experiancia-tecnologias {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  gap: 20px;
}
.experiancia-tecnologias li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: white;
  padding: 5px 10px;
}
@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experiencia-ano {
    position: initial;
    order: 1;
    text-align: left;
  }
  .experiencia-ano::before {
    content: "Ano: ";
  }
}
@media (max-width: 550px) {
  .experiancia-empresa {
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
}
