.formacao {
  background: #292929;
  position: relative;
  color: #a3a3a3;
}
.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.formacao .subtitulo {
  color: #141414;
  max-width: 7ch;
}
.formacao-texto {
  color: #a3a3a3;
  max-width: 40ch;
  margin-bottom: 60px;
  line-height: 1.3;
  font-size: 1.5rem;
}
.faculdade-lista {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: black;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.formacao-extra {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade-tipo {
  font-weight: bold;
}
.faculdade-tipo::before {
  content: "";
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -4px;
}

.formacao-extra li {
  display: flex;
  justify-content: space-between;
}
.formacao-container::after {
  content: "";
  position: absolute;
  display: block;
  width: 130px;
  height: 130px;
  background-image: url("../img/detalhe.svg");
  background-repeat: no-repeat;
  bottom: -70px;
}
.faculdade-curso {
  color: white;
}
@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .formacao-texto {
    font-size: 1.2rem;
  }
  .faculdade {
    font-size: 0.85rem;
  }
}
.formacao strong {
  color: white;
}
