body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #141414;
}
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  max-width: 5ch;
  text-transform: uppercase;
  color: #d5d5d5;
}

@media (max-width: 800px) {
  .subtitulo {
    max-width: initial !important;
    text-transform: capitalize;
    font-size: 4rem;
    color: #141414;
  }
}
