* {
  margin: 0;
  padding: 0;
}
.nome {
  font-size: 2rem;
}
li {
  list-style: none;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  margin-top: 1rem;
  gap: 1.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 1rem;
}
header a {
  font-size: 1rem;
}
.quem_sou img {
  max-width: 320px;
  display: block;
}
h1 {
  font-size: 4.5rem;
}
.titulo_localizacao {
  padding: 1.5rem;
  background-image: url("/img/detalhe.svg");
  background-repeat: no-repeat;
  background-size: 120px;
  display: grid;
  align-self: center;
}
.quem_sou {
  display: grid;
  grid-template-columns: 0.68fr 1fr;
  justify-items: center;
}
