* {
  margin: 0;
  padding: 0;
}
.nome {
  font-size: 2rem;
}
li {
  list-style: none;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  margin-top: 1rem;
  gap: 1.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 1rem;
}
header a {
  font-size: 1rem;
}
.quem_sou img {
  max-width: 320px;
  display: block;
}
h1 {
  font-size: 4.5rem;
}
.titulo_localizacao {
  padding: 1.5rem;
  background-image: url("/img/detalhe.svg");
  background-repeat: no-repeat;
  background-size: 120px;
  display: grid;
  align-self: center;
}
.quem_sou {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.experiencia {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
}
.experiencia h2 {
  font-size: 9rem;
  color: #e0e0e0;
}
.experiencia_container {
  padding: 1.5rem;
  display: grid;
  flex-direction: column;
  gap: 2rem;
  align-content: flex-start;
}
.experiencia_lista {
  display: grid;
  gap: 1rem;
}

.experiencia_container_item {
  display: flex;
  gap: 0.5rem;
}
.experiencia_container_item_container {
  background-color: #f0f0f0;
  border-radius: 4px;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.experiencia_tecnologias {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.experiencia_tecnologias li {
  background-color: white;
  border-radius: 4px;
  padding: 9px;
}
